<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div>
        <span>Buscar: </span><input type="text" id="buscar">
        <input type=button value="Buscar" onclick="buscar()">
    </div>
    <ul>
        <li><span onclick="getTodo()">Todos</span></li>
    {% for categoria in categorias.get_ancestors %}
    
        <li><span onClick="getCategoria('{{categoria.id}}')">{{categoria.nombre}} -- {{categoria.id}}</span>
            <ul>
            {% for sub in categoria.get_children %}
                <li><span onClick="getSubcategoria('{{sub.id}}')">{{ sub.nombre }} -- {{sub.id}}</span></li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</div>
<div class="container">

    <div id="app">
        <table class="table">
            <hr>
                <th>Inagen</th>
                <th>Producto</th>
                <th>Descripcion</th>
            </hr>
            <tr v-for="producto in productos.results">
                <td v-html="producto.imagen_src"></td>
                <td>${producto.nombre}</td>
                <td>${producto.descripcion}</td>
            </tr>
            
        </table>

        <div class="paginator">
            <a v-if="productos.has_previous" v-on:click="page--; get_products_paginador()">Anterior</a>
            
            <a v-if="productos.has_next"  v-on:click="page++; get_products_paginador()">Siguiente</a>
        </div>
        <p>Categoria actual: ${cat_sub}</p>
        <p>Cat: ${categoria}, sub: ${subCategoria}</p>

    </div>
</div>

</body>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script>
        
        Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";

        var app = new Vue({
            el:"#app",
            delimiters: ['${','}'],
            data:{
                productos:[],
                page:1,
                history: {},
                cat_sub:"todo",
                search:"todo",
            },
            mounted: function() {
                this.get_products();
            },
            methods:{
                get_products: function(){

                    var api_productos = "/vue/get_products";
                    var api_url = api_productos;
                    
    
                    if(this.cat_sub=="cat"){
                        api_url = api_productos + "?categoria="+this.search+"&page="+this.page;
                        console.log("this.categoria");
                    }
                    if(this.cat_sub=="sub"){
                        api_url = api_productos + "?subCategoria="+this.search+"&page="+this.page;
                        console.log("this.subCategoria");   
                    }

                    if(this.cat_sub=="todo"){
                        api_url = api_url + "?page="+this.page;
                        console.log("this.page");
                    }
                    if(this.cat_sub=="buscar"){
                        api_url = api_url + "?busqueda="+this.search+"&page="+this.page;
                        console.log("this.buscar");
                    }

                    this.$http.get(api_url)
                    .then((response) => {
                        this.productos = response.data;
                        this.history[this.cat_sub+"_"+this.page] = this.productos;
                    })
                    .catch((err) => {
                        console.log(err);
                    })
                },

                get_products_paginador: function(){
                    if(this.history[this.cat_sub+"_"+this.page]){
                        this.productos = this.history[this.cat_sub+"_"+this.page];
                        console.log("Page-history: "+this.cat_sub+"_"+this.page);
                    }else{
                        this.get_products();   
                    }
                }
    
                
            },

            
            watch:{
                search: function(nuevo, antiguo){
                    if(this.history[nuevo+"_"+this.page]){
                        this.productos = this.history[nuevo+"_"+this.page];
                        console.log("Page-history: "+nuevo+"_"+this.page);
                    }else{
                        this.get_products();
                        console.log("Page-get_products: "+nuevo+"_"+this.page);
                    }
                },
            }
            
        });
    </script>

    <script>
        function getCategoria(categoria){
            console.log("Cambiando cat: " + categoria);
            app.$data.search = categoria;
            app.$data.cat_sub = "cat";
            app.$data.page = 1;
        }
        function getSubcategoria(subCategoria){
            console.log("Cambiando sub: "+subCategoria);
            app.$data.search = subCategoria;
            app.$data.cat_sub = "sub";
            app.$data.page = 1;
        }
        function getTodo(){
            app.$data.cat_sub = "todo";
            app.$data.search = "todo";
            app.$data.page = 1;
        }
        function buscar(){
            var buscar = document.getElementById("buscar").value;
            app.$data.cat_sub = "buscar";
            app.$data.search = buscar;
            app.$data.page = 1;
        }
    </script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>